/target
/resources/server_settings.toml
/.obsidian
/.obsidian/app.json
/.obsidian/appearance.json
/.obsidian/core-plugins.json
/.obsidian/core-plugins-migration.json
/.obsidian/workspace.json
ff_data_server/data/test/Forex/ticks/1-T/**/AUD-CAD/*.rkyv
ff_data_server/data/test/Forex/ticks/1-T/**/AUD-USD/*.rkyv
ff_data_server/data/test/Forex/ticks/1-T/AUD-CAD/AUD-CAD_1-T_2023-03.rkyv
ff_data_server/data/test/Forex/ticks/1-T/AUD-USD/AUD-USD_1-T_2023-01.rkyv
ff_data_server/data/test/Forex/ticks/1-T/AUD-USD/AUD-USD_1-T_2023-02.rkyv
ff_data_server/data/test/Forex/ticks/1-T/AUD-USD/AUD-USD_1-T_2023-03.rkyv


# Added by cargo
#
# already existing elements were commented out

#/target
