/target
/resources/server_settings.toml
/.obsidian
/.obsidian/app.json
/.obsidian/appearance.json
/.obsidian/core-plugins.json
/.obsidian/core-plugins-migration.json
/.obsidian/workspace.json
ff_data_server/data/test/Forex/quotes/I/AUD-USD/AUD-USD_I_2023-01.rkyv
ff_data_server/data/test/Forex/quotes/I/AUD-USD/AUD-USD_I_2023-02.rkyv
ff_data_server/data/test/Forex/quotes/I/AUD-USD/AUD-USD_I_2023-03.rkyv
ff_data_server/data/test/Forex/quotes/I/AUD-USD/AUD-USD_I_2023-04.rkyv
ff_data_server/data/test/Forex/quotes/I/AUD-CAD/AUD-CAD_I_2023-01.rkyv
ff_data_server/data/test/Forex/quotes/I/AUD-CAD/AUD-CAD_I_2023-02.rkyv
ff_data_server/data/test/Forex/quotes/I/AUD-CAD/AUD-CAD_I_2023-03.rkyv
ff_data_server/data/test/Forex/quotes/I/AUD-CAD/AUD-CAD_I_2023-04.rkyv

# Added by cargo
#
# already existing elements were commented out

#/target
