# Ignore Rithmic credential files
/rithmic_credentials/rithmic_01.toml
/rithmic_credentials/rithmic_04_colo.toml
/rithmic_credentials/rithmic_paper_trading.toml
/rithmic_credentials/topstep_trader.toml
/rithmic_credentials/speedup.toml
/rithmic_credentials/tradefundrr.toml
/rithmic_credentials/uprofit_trader.toml
/rithmic_credentials/apex.toml
/rithmic_credentials/mes_capital.toml
/rithmic_credentials/the_trading_pit.toml
/rithmic_credentials/funded_futures_network.toml
/rithmic_credentials/bulenox.toml
/rithmic_credentials/propshop_trader.toml
/rithmic_credentials/4prop_trader.toml
/rithmic_credentials/fasttrack_trading.toml
/rithmic_credentials/test.toml
/rithmic_credentials/servers.toml
